[Unit]
Description=PMC data proxy from MQTT to Norm

[Service]
Environment=PYTHONUNBUFFERED=true
ExecStart=/home/administrator/pmc-mqtt-norm-proxy/proxy.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target